.a1 {
    text-align: center;
    background-color: lightgreen;
    padding: 6px;
    margin: 0;
}

.a2 {
    background-color: lightseagreen;
    float: left;
    height: 620px;
    left: 0;
}

.a2 img {
    height: auto;
    width: 40px;
    border-radius: 4px;
    border-collapse: collapse;
}
.a2 a {
    display: block;
    width: 100px;
    padding: 10px;
    margin-top: 12px;
    line-height: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.as, p {
    background-color: gray;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    float: right;
}
a:hover {
    background-color: whitesmoke;
}

.aaa {
    float: right;
    background-color: lightblue;
    height: 620px;
    border-radius: 4px;
    display: block;
    right: 0;
    padding: 10px;
    width: 100px;
}