.a1 {
    text-align: center;
    background-color: lightgreen;
    padding: 6px;
    margin: 0;
}

.a2 {
    background-color: lightseagreen;
    float: left;
    height: 620px;
}

.a3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: left;
    display: flex;
    margin: 0px;
}